body{
    font-family: 'Roboto', sans-serif;
    background-image: url("../image/bg/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.test{
    border: 1px solid red;
}

.fullscreen{
    min-height: calc(100vh - 200px);
    overflow-x: hidden;
}

.sectionheader{
    min-height: 100px;
}

.standardimage{
    width: 100%;
    height: auto;
}

.icon{
    width: 100%;
    max-width: 100px;
    height: auto;
}

.tinytext{
    font-size: smaller;
}

.synapze{
    color: black;
    font-weight: bold;
    transition: 0.5s;
    text-decoration: none;
}

.synapze:hover{
    color: orange;
    font-weight: bold;
    transition: 0.5s;
    text-decoration: none;
}

.highlight{
    color: #4d4d4d;
    font-weight: bold;
}

.highlight2{
    color: rgb(96, 96, 247);
    font-weight: bold;
}

.buttonstyle1{
    cursor: pointer;
    background-color:#46178f;
    color: white;
    font-weight: bold;
    box-shadow: 5px 10px black;
    border: none;
    transition: 0.5s;
}

.buttonstyle1:hover{
    background-color: rgb(96, 96, 247);
    color: white;
    font-weight: bold;
    box-shadow: 5px 10px black;
    border: none;
    transition: 0.5s;
    transform: scale(1.2);
}

.buttonstyle2{
    cursor: pointer;
    background-color:none;
    color: black;
    font-weight: normal;
    box-shadow: 5px 10px transparent;
    border: none;
    transition: 0.5s;
}

.buttonstyle2:hover{
    background-color: #46178f;
    color: white;
    font-weight: normal;
    box-shadow: 5px 10px black;
    border: none;
    transition: 0.5s;
    transform: scale(1.2);
}

.inputformstyle{
    box-shadow: 5px 10px black;
    border: 1px solid black;
    color: black;
}

.maxwidth{
    width: 100%;
}

.hideori{
    opacity: 0;
}
    
.hidetillscroll{
    opacity: 0;
}
    
    
.fadefromleft1{
        animation: 1s ease-in-out 0s 1 forwards slideInFromLeft;
}
.fadefromleft2{
        animation: 1s ease-in-out 0.2s 1 forwards slideInFromLeft;
}
.fadefromleft3{
        animation: 1s ease-in-out 0.4s 1 forwards slideInFromLeft;
}
.fadefromleft4{
        animation: 1s ease-in-out 0.6s 1 forwards slideInFromLeft;
}
.fadefromtop1{
        animation: 1s ease-in-out 0s 1 forwards slideInFromTop;
}
.fadefromtop2{
        animation: 1s ease-in-out 0.2s 1 forwards slideInFromTop;
}
.fadefromtop3{
        animation: 1s ease-in-out 0.4s 1 forwards slideInFromTop;
}
.fadefromtop4{
        animation: 1s ease-in-out 0.6s 1 forwards slideInFromTop;
}
.fadein{
        animation: 1s ease-in-out 0s 1 forwards FadeIn;
}
.fadein2{
        animation: 1s ease-in-out 0.2s 1 forwards FadeIn;
}
.fadein3{
        animation: 1s ease-in-out 0.4s 1 forwards FadeIn;
}
.fadein4{
        animation: 1s ease-in-out 0.6s 1 forwards FadeIn;
}
.fadeout{
        animation: 1s ease-in-out 0s 1 forwards FadeOut;
}

.fadetoright{
    animation: 1s ease-in-out 0s 1 forwards FadeOutRight;
}
    
@keyframes slideInFromLeft {
        0% {
          opacity: 0;
          transform: translateX(-100%);
        }
        100% {
        opacity: 1;
          transform: translateX(0);
        }
}

@keyframes FadeOutRight {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
    opacity: 0;
      transform: translateX(100%);
    }
}
    
@keyframes slideInFromTop {
        0% {
            opacity: 0;
            transform: translateY(-100%);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
}
    
@keyframes FadeIn {
        0% {
            opacity: 0;
    
        }
        100% {
          opacity: 1;
    
        }
      }
      @keyframes FadeOut {
        0% {
            opacity: 1;
    
        }
        100% {
          opacity: 0;
    
        }
}